body {
  background-color: #ffffff;
  font-family: 'Bebas Neue', cursive;
  font-family: 'EB Garamond', serif;
  color: #E71E1E;
}

.container nav .collapse ul li {
  color: #E71E1E;
}

.navbar-brand img {
  max-height: 40px;
}

.btn-login {
  background-color: #E71E1E;
  color: #ffffff;
}

.btn-login:hover {
  background-color: #F63E3E;
  color: #ffffff;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -32px !important;
  height: 70px;
  border-radius: 0;
}

header {
  padding: 180px 0 155px;
  margin-top: -70px;
  background-image: url("../images/header.jpg");
  background-size: cover;
}

header h1, header p {
  color: #ffffff;
}

header h1 {
  font-family: 'BEBAS NEUE';
  font-size: 70px;
}

header p {
  font-family: 'EB GARAMOND';
  font-size: 30px;
}

header .btn-get-started {
  background-color: #E71E1E;
  color: #ffffff;
  font-size: 20px;
}

header .btn-get-started:hover {
  background-color: #F63E3E;
  color: #ffffff;
}

.section-stats {
  margin-top: -40px;
  background-color: #E71E1E;
  padding-top: 15px;
  padding-left: 40px;
}

.section-stats h2 {
  font-family: 'bebas neue';
  font-size: 40px;
  margin-bottom: 0px;
  color: #ffffff;
}

.section-stats p {
  color: #ffffff;
}

.section-popular {
  min-height: 540px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: -230px;
}

.section-popular h2 {
  color: #E71E1E;
}

.section-popular-heading {
  margin-top: 200px;
}

.section-popular-heading h2, .section-popular-heading p {
  color: #E71E1E;
}

.section-popular-heading h2 {
  font-family: 'bebas neue';
  font-size: 50px;
}

.section-popular-heading p {
  margin-top: -20px;
  color: black;
  font-size: 20px;
}

.section-popular-content {
  margin-top: 100px;
}

.section-popular-content .card-travel {
  min-height: 353px;
  background-color: black;
  color: #ffffff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .travel-country {
  color: #E71E1E;
}

.section-popular-content .travel-location {
  font-size: 26px;
  color: #F63E3E;
  font-weight: bold;
}

.section-popular-content .travel-button .btn-travel-details {
  background-color: #E71E1E;
  color: #ffffff;
}

.section-network {
  padding-top: 100px;
  margin-top: 30px;
  padding-bottom: 300px;
  background-color: #E71E1E;
}

.section-network img {
  margin-top: 100px;
  max-height: 100px;
}

.section-network h2 {
  font-family: "bebas neue";
  margin-top: 90px;
  color: #ffffff;
  font-size: 50px;
}

.section-network p {
  margin-top: -20px;
  color: #ffffff;
}

.section-testimonial-heading {
  margin-top: -250px;
  min-height: 506px;
}

.section-testimonial-heading h2 {
  font-size: 50px;
  font-family: 'bebas neue';
  color: #ffffff;
}

.section-testimonial-heading p {
  margin-top: -10px;
  color: #ffffff;
  font-size: 25px;
}

.section-testimonial-content {
  padding-bottom: 50px;
  margin-top: -300px;
}

.section-testimonial-content .card-testimonial {
  margin-top: -50px;
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 5px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content .card-testimonial h3 {
  font-size: 40px;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-family: 'eb garamond';
  font-weight: 300;
  font-size: 20px;
  color: #E71E1E;
}

.section-testimonial-content .card-testimonial .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #E71E1E;
}

.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-get-started {
  background-color: #E71E1E;
  color: #ffffff;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: #F63E3E;
  color: #ffffff;
}

.section-testimonial-content .btn-need-help {
  color: #E71E1E;
}

.section-footer h5 {
  font-family: 'bebas neue';
  font-size: 40px;
}

.section-footer a {
  font-size: 20px;
  color: #E71E1E;
}

.section-details-header {
  min-height: 310px;
  background: #edece8;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #E71E1E;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
}

.section-details-content .card-details h2 {
  font-size: 20px;
}

.section-details-content .card-details p {
  font-size: 18px;
}

.section-details-content .card-details h3 {
  font-weight: 600;
  font-size: 14px;
  color: #E71E1E;
}

.section-details-content .card-details .disclaimer {
  font-weight: 300px;
  font-size: 14px;
  color: #F63E3E;
}

.section-details-content .card-details .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .card-details .gj-datepicker .datepicker .input-group-append .btn {
  padding-right: 30px;
}

.section-details-content .card-details .btn-add-now {
  background-color: #E71E1E;
  color: #ffffff;
}

.section-details-content .card-details .btn-add-now:hover {
  background-color: #F63E3E;
  color: #ffffff;
}

.section-details-content .card-details .trip-information th {
  font-weight: 300;
  font-size: 18px;
  color: #E71E1E;
}

.section-details-content .card-details .trip-information td {
  font-weight: 300;
  font-size: 18px;
  color: #E71E1E;
}

.section-details-content .card-details .trip-information .text-red {
  color: #E71E1E;
  font-weight: bold;
}

.section-details-content .card-details .trip-information .text-orange {
  color: orange;
  font-weight: bold;
}

.section-details-content .card-details .payment-instruction {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-details .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .card-details .bank .bank-item h3 {
  font-size: 18px;
  color: #E71E1E;
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item p {
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .card-details .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #E71E1E;
}

.section-details-content .features {
  margin-top: 20px;
}

.section-details-content .features h3 {
  font-size: 18px;
  color: #E71E1E;
  margin-bottom: 0;
}

.section-details-content .features p {
  margin-bottom: 0;
}

.section-details-content .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .features-image {
  width: 60px;
  height: 60px;
  float: left;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-details-content .gallery .xzoom-container .xactive {
  border: 4px solid;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-details-content .btn-join-now {
  background-color: #E71E1E;
  color: #ffffff;
  border-radius: 0;
}

.section-details-content .btn-join-now:hover {
  background-color: #F63E3E;
  color: #ffffff;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.section-success {
  height: 90vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #E71E1E;
}

.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-success .btn-home-page {
  border-radius: 4px;
  background-color: #E71E1E;
  color: white;
}

.section-success .btn-home-page:hover {
  color: #ffffff;
  background-color: #F63E3E;
}

.section-success img {
  width: 300px;
}
/*# sourceMappingURL=main.css.map */